.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #b495bd;
  z-index: 100;
}

.header-2 {
  background-color: white;
  width: 80%;
  height: 50%;
}

.header-icon {
  width: 70px;
  margin: 8px 20px;
  position: absolute;
}

.title {
  text-align: left;
  position: absolute;
  left: 80px;
  padding: 0;
  margin: 14px 30px 0px;
  color: rgb(0, 0, 0);
  font-size: 50px;
}

nav {
  position: absolute;
  right: 0;
  margin: 14px 30px 0px;
}

a {
  color: #58667b;
  text-decoration: none;
  padding: 30px;
  font-weight: bold;
  font-size: 30px;
}

.contact {
  background-color: #3bb88b;
  width: 80%;
  height: 300px;
  display: flex;
  border: solid black 2px;
  flex-direction: row;
  align-items: center;
  margin-left: 11%;
}

.profile-contact-img {
  width: 200px;
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.info-center {
  text-align: center;
  width: 100%;
  padding-top: 5px;

  border-top: 1px solid white;
  color: rgb(255, 255, 255);
}

footer {
  background-color: #000000;
}

.project-description {
  margin: 5px;
}

.project-description h1 {
  margin: 0 5px 5px;
  padding: 0;
  font-size: 50px;
}

.project-description p {
  font-size: 20px;
}
